Get the value from MCS
[
    {
        "id": "6328b424.57d92c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ee5245b5.98dab8",
        "type": "inject",
        "z": "6328b424.57d92c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "f45c029b.7a715"
            ]
        ]
    },
    {
        "id": "f45c029b.7a715",
        "type": "function",
        "z": "6328b424.57d92c",
        "name": "payload",
        "func": "msg.headers={\n    deviceKey:\"gFPeMrkotpbEQ7ot\"\n            };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 280,
        "wires": [
            [
                "b7527f5b.01181",
                "f5ff9c4.88c856"
            ]
        ]
    },
    {
        "id": "b7527f5b.01181",
        "type": "http request",
        "z": "6328b424.57d92c",
        "name": "Humidity",
        "method": "GET",
        "ret": "txt",
        "url": "http://api.mediatek.com/mcs/v2/devices/DYNw6J4b/datachannels/Humidity/datapoints.csv",
        "tls": "",
        "x": 480,
        "y": 300,
        "wires": [
            [
                "14c55ab0.814825",
                "86974bb2.4a76d8"
            ]
        ]
    },
    {
        "id": "14c55ab0.814825",
        "type": "http response",
        "z": "6328b424.57d92c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "86974bb2.4a76d8",
        "type": "debug",
        "z": "6328b424.57d92c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "f5ff9c4.88c856",
        "type": "http request",
        "z": "6328b424.57d92c",
        "name": "Temperature",
        "method": "GET",
        "ret": "txt",
        "url": "http://api.mediatek.com/mcs/v2/devices/DYNw6J4b/datachannels/Temperature/datapoints.csv",
        "tls": "",
        "x": 490,
        "y": 260,
        "wires": [
            [
                "14c55ab0.814825",
                "86974bb2.4a76d8"
            ]
        ]
    }
]
